@import './variables';

.compelling-container {
  height: 600px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: $mobile) {
    height: auto;
    padding: 50px 20px 50px 20px;
  }
  .offer-title {
    display: flex;
    align-items: flex-end;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    h1 {
      font-size: 30px;
    }
  }
  .offer-container {
    max-width: 1024px;
    margin: 10px auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
    }
    .offer {
      padding: 0 30px;
      img {
        height: 170px;
        @media only screen and (max-width: $mobile) {
          height: 120px;
        }
      }
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 17px;
      }
    }
  }
}
