@import './variables';

#footer {
  background-color: $fontColor;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 50px;

  .footer-header {
    text-align: center;
    margin: 0 0 20px 0;
  }

  .sub-hr {
    border: none;
    height: 1px;
    background-color: rgba(223, 183, 130, 0.124);
    text-align: center;
    margin: 10px 5%;
    @media (min-width: 599px) {
      display: none;
    }
  }

  .sub-header {
    text-align: center;
    padding-bottom: 30px;
    h3 {
      color: $secondaryColor;
    }

    .footer-text {
      color: $secondaryColor;
      text-decoration: none;
      font-size: 18px;
      margin: 0 100px 0 100px;
      padding: 0 20px 15px 20px;

      @media (max-width: 600px) {
        margin: 0 50px 0 50px;
      }
    }

    .footer-link a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: rgb(247, 245, 245);
      font-size: 18px;
    }

    .custom-button {
      background-color: $secondaryColor;
      color: $fontColor;
      margin: 15px;
      &:hover {
        opacity: 0.7;
        transform: none;
      }
      a {
        color: $fontColor;
      }
    }
    .custom-button:nth-last-child(1) {
      border: 2px solid $secondaryColor;
      color: $secondaryColor;
    }
    .icon {
      color: $secondaryColor !important;
      margin: 10px;
    }
  }
  .logo {
    height: 120px;
    color: $secondaryColor;
    padding-bottom: 40px;
  }
}
