@import './variables';

.page-header {
  max-width: 1280px;
  padding: 50px;
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid lightgray;
  @media only screen and (max-width: $mobile) {
    margin: 0 20px;
    padding: 15px 0;
  }

  button {
    margin-right: 20px;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    .MuiSelect-select {
      color: $fontColor;
    }
  }

  .MuiInputBase-input {
    color: $fontColor;
  }

  .MuiSelect-icon {
    color: $fontColor !important;
  }

  .dropdown-menu {
    button:first-of-type {
      color: $mainColor;
    }
  }

  .logo {
    height: 100px;
    margin-top: 10px;
    cursor: pointer;
    @media only screen and (max-width: $mobile) {
      margin-top: 25px;
      height: 75px;
    }
  }

  &-landing {
    @extend .page-header;
    border-bottom: none;
    .menu-wrapper {
      .MuiSelect-select {
        color: white;
        font-size: 18px;
        padding-bottom: 0;
      }
    }
    @media only screen and (max-width: $mobile) {
      .MuiSelect-select {
        color: white;
        font-size: 18px;
        padding-bottom: 0;
      }
    }

    .dropdown-menu {
      button:first-of-type {
        color: white;
      }
    }

    .MuiSelect-icon {
      color: white !important;
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#menu-language {
  .MuiPaper-root {
    background-color: $mainColor;
    color: '#222';
    width: 125px;
  }
}
