@import './variables';

.welcomeMessage {
  color: $fontColor;
  padding-bottom: 30px;
  border-bottom: 3px solid $secondaryColor;
  @media only screen and (max-width: $mobile) {
    margin: 20px 20px 50px 20px;
  }
}

.question-container {
  margin: 30px 50px 40px 0;
  display: flex;
  padding: 0 20px;
  @media only screen and (max-width: $mobile) {
    justify-content: left;
    margin: 0 0 30px 0;
    padding: 0;
  }

  &.hero {
    margin-bottom: 10px;
  }

  img {
    height: 60px;
    align-self: center;
    margin-right: 10px;
    border-radius: 100%;
  }

  p {
    color: $fontColor;
    background-color: $mainColor;
    font-size: 1.4rem;
    padding: 16px 32px;
    border-radius: $borderRadius;
    @media only screen and (max-width: $mobile) {
      font-size: 18px;
      padding: 20px;
    }
  }
}

.answer-container {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-end;
    padding: 0;

    .answer-form-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  h3 {
    font-size: 24px;
    color: $secondaryColor;
    font-weight: 500;
    padding-right: 10px;
    margin-bottom: 10px;
    @media only screen and (max-width: 700px) {
      font-size: 18px;
      padding-right: 65px;
    }
  }

  .input {
    font-size: 1.4rem;
    border-radius: $borderRadius;
    padding: 0 10px;
    text-align: center;
    height: 55px;
    margin-right: 10px;
    outline: none;
    border: 2px solid $secondaryColor;
    color: $secondaryColor;
    background-color: rgba(0, 0, 0, 0);
    @media only screen and (max-width: $mobile) {
      width: 100%;
      font-size: 18px;
      margin-bottom: 10px;
    }

    &[type='number'] {
      font-size: 1.7rem;
    }

    &::before {
      outline: none;
      border: none;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      color: $secondaryColor;
    }

    &[type='number'] {
      width: 100px;
    }

    &:disabled {
      @extend .input;
      background-color: $secondaryColor;
      color: $fontColor;
      &:hover {
        background-color: $secondaryColor;
        transform: none;
        transition: none;
        color: $fontColor;
      }
    }

    &:hover {
      background-color: $secondaryColorLowOpacity;
      transform: translateY(-3px);
      transition: all 0.3s;
      color: $secondaryColor;
    }

    &-filled {
      @extend .input;
      background-color: $secondaryColor;
      color: $fontColor;
    }
  }

  .done-btn {
    border-radius: 100%;
    margin-bottom: 10px;
    height: 55px;
    width: 55px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid $secondaryColor;
    transition: 0.3s;
    @media only screen and (max-width: $mobile) {
      height: 45px;
      width: 45px;
      margin-top: 6px;
    }  
    &:hover {
      background-color: $secondaryColor;
      .icon {
        color: $fontColor;
      }
    }
    &-filled {
      @extend .done-btn;
      background-color: $secondaryColor;
    }

    .icon {
      color: $secondaryColor;
      &-filled {
        @extend .icon;
        color: $fontColor;
      }
    }
  }

  .radio-group {
    border-radius: $borderRadius;
    display: inline-block;

    input[type='radio'] {
      visibility: hidden;
      display: none;
    }

    label {
      display: inline-block;
      color: $fontColor;
      min-width: 45px;
      text-align: center;
      font-size: 1.4rem;
      color: $secondaryColor;
      margin-right: 10px;
      padding: 13px;
      border: 2px solid $secondaryColor;
      border-radius: $borderRadius;
      cursor: pointer;
      @media only screen and (max-width: $mobile) {
        padding: 8px;
        font-size: 18px;
        margin: 6px 2px;
      }
    }

    .radio {
      &:hover {
        background-color: $secondaryColorLowOpacity;
        transform: translateY(-5px);
        transition: 300ms;
      }
    }

    input[type='radio']:checked + label {
      color: $fontColor;
      background: $secondaryColor;
    }

    label + input[type='radio'] + label {
      border-left: 2px solid $secondaryColor;
    }
  }
}

.location-question-container {
  .answer-form-container {
    display: flex;
    .rrs__multiselect-label__badge {
      margin-left: 15px;
      font-size: 14px;
      color: $secondaryColor;
      border-color: $secondaryColor;
    }

    .location-filled {
      .rrs__button {
        background-color: $secondaryColor;
        color: $fontColor;
        .rrs__multiselect-label__badge {
          color: $fontColor;
          border: 2px solid;
        }
      }
      svg {
        fill: $fontColor;
      }
    }

    .rrs {
      font-size: 1.4rem;
      width: 300px;
      margin-right: 10px;
      color: $secondaryColor;

      .rrs__button + .rrs__options {        
        border: none;
        background-color: #333;
        top: auto;
        bottom: 100% ;
        @media only screen and (max-width: $mobile) {
          top: 60px;
          bottom: auto;
        }
      }

      .rrs__option.rrs__option--next-selection {
        background-color: #444 !important;
        outline: none;
      }
    }

    .rrs__button {
      background-color: transparent;
      color: $secondaryColor;
      border-radius: $borderRadius;
      outline: none;
      border: 2px solid $secondaryColor;
      box-shadow: none;
      height: 55px;

      svg {
        fill: $secondaryColor;        
      }
    }

    .rrs--has-changed .rrs__label {
      color: $secondaryColor;
    }
    .rrs__option:hover {
      color: orange;
      background-color: #444;
    }
    .rrs__option.rrs__option--next-selection {
      color: $secondaryColor;
    }
    .rrs__option.rrs__option--selected {
      color: $mainColor;

      .checkbox {
        border-color: $mainColor;
      }

      svg {
        fill: $mainColor;
      }
    }
  }
}
input.phone {
  width: 250px !important;
}

.MuiCircularProgress-svg {
  color: #fff;
}
