@import './variables';

.rent-out-page {
  height: 100vh;

  .form-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 0 50px;
    border-radius: $borderRadius;
    border: 1px solid $secondaryColor;
    @media only screen and (max-width: $mobile) {
      border: none;
      margin-top: 0;
      padding: 0 20px 0 20px;
    }

    .MuiFormLabel-root.Mui-focused {
      color: $fontColor;
    }
    
    .PrivateNotchedOutline-root-1.MuiOutlinedInput-notchedOutline {
      border-color: $secondaryColor;
    }

    .close-form-button {
      align-self: flex-end;
      margin-top: 10px;
      padding: 10px;

      a {
        height: 24px;
      }
    }

    .custom-button {
      width: 200px;
      margin: 20px auto;
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }
}
