@import './variables';

.compelling-container {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #fff;
  align-content: center;

  .compelling-avatar {
    align-self: center;
    height: 200px;
    width: auto;
  }

  .compelling-text {
    align-self: center;
    font-size: 2rem;
    background-color: pink;
    border-radius: 15px;
    padding: 20px;
    margin-right: 10%;
    color: #fff;
    @media (max-width: $mobile) {
      font-size: 1rem;
    }
  }
}
