$mainColor: rgb(97, 247, 210);
$secondaryColor: rgb(255, 208, 156);
$secondaryColorMedOpacity: rgba(255, 208, 156, 0.7);
$secondaryColorLowOpacity: rgba(255, 208, 156, 0.2);

$tablet: 1024px;
$mobile: 620px;
$hero-img: url('/src/assets/hero.jpg');

#root {
  font-size: 62.5%;
  background-color: $secondaryColorLowOpacity;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 32px;
  color: $secondaryColor;
  margin: 50px 0;
  @media only screen and (max-width: 700px) {
    font-size: 1.2rem;
    margin: 50px;
  }
}

h3 {
  font-size: 24px;
  color: $secondaryColor;
  padding-right: 10px;
  margin-bottom: 10px;
  @media only screen and (max-width: 700px) {
    font-size: 18px;
    margin-top: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 520px) {
    font-size: 18px;
    padding-right: 10px;
  }
}

.custom-button {
  height: 50px;
  cursor: pointer;
  background-color: rgba(97, 247, 210, 0.9);
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 14px 24px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    background-color: $mainColor;
    transform: translateY(-5px);
  }
  a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
  }
}

.MuiSelect-icon {
  color: white !important;
}

.MuiInput-root {
  color: white !important;
}

.MuiToolbar-root {
  justify-content: flex-end;
}

.MuiButton-root {
  border-radius: 20px !important;
  font-size: 20px !important;
  color: white !important;
  background-color: $mainColor !important;
  padding: 10px !important;
  align-self: center !important;
  @media only screen and (max-width: 520px) {
    font-size: 18px !important;
  }
}

.dropdown-container {
  .MuiPaper-root {
    background-color: $secondaryColorMedOpacity;
    padding: 0 25%;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;

    button {
      background-color: transparent;
      border: 1px solid #fff;
    }

    .MuiInputBase-root {
      border: 1px solid #fff;
      padding: 10px 20px;
      border-radius: 4px;
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-header {
  max-width: 1280px;
  padding: 50px;
  display: flex;
  height: 75px;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  @media only screen and (max-width: $mobile) {
    margin: 0 20px;
    padding: 50px 0;
  }

  button {
    margin-right: 20px;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    .MuiSelect-select {
      color: $mainColor;
    }
  }

  .dropdown-menu {
    button:first-of-type {
      color: $mainColor;
    }
  }

  .logo {
    height: 100px;
  }

  &-landing {
    @extend .page-header;
    border-bottom: none;

    .menu-wrapper {
      .MuiSelect-select {
        color: white;
      }
    }

    .dropdown-menu {
      button:first-of-type {
        color: white;
      }
    }
  }
}

#menu-language {
  .MuiPaper-root {
    background-color: $mainColor;
    color: white;
    width: 125px;
    @media only screen and (max-width: $mobile) {
      background-color: $secondaryColor;
      position: absolute;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }
}

#footer {
  background-color: #fff;
  padding-top: 50px;
  width: 100vw;
  margin: 40px 0 40px 0;
  padding-bottom: 100px;

  .footer-header {
    font-size: 20px;
    color: $secondaryColor;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .black-br {
    border: none;
    height: 1px;
    background-color: rgb(255, 224, 189);
    margin: 0 5% 0 5%;
    width: 90%;
  }

  .sub-header {
    color: $secondaryColor;
    text-align: center;

    h3 {
      text-decoration: underline;
    }

    .footer-text {
      color: rgb(255, 224, 189);
      text-decoration: none;
      font-size: 18px;
      margin: 0 40px 0 40px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .footer-link a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: rgb(255, 224, 189);
      font-size: 18px;
    }
  }
}
