// Variables
$mainColor: #02afb0;
$secondaryColor: #fe876f;

// Globals
#root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-size: 2rem;
  color: $secondaryColor;
  margin: 50px 0;
}

h3 {
  font-size: 1.5rem;
  color: $secondaryColor;
  padding-right: 10px;
}

// Blueprints
