// Variables
$mainColor: #02afb0;
$secondaryColor: #fe876f;

// Globals
#root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 25px;
  color: $secondaryColor;
  padding-right: 10px;
}

// Blueprints
