#root {
  font-size: 62.5%;
  background-color: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 32px;
  color: #ffd09c;
  margin: 50px 0;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1.2rem;
    margin: 50px;
  }
}

h3 {
  font-size: 24px;
  color: #ffd09c;
  padding-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 18px;
    margin-top: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 520px) {
  h3 {
    font-size: 18px;
    padding-right: 10px;
  }
}

.custom-button {
  height: 50px;
  cursor: pointer;
  background-color: rgba(97, 247, 210, 0.9);
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 14px 24px;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.custom-button:hover {
  background-color: #61f7d2;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.custom-button a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.MuiInput-root {
  color: white !important;
}

.MuiToolbar-root {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.MuiButton-root {
  border-radius: 20px !important;
  font-size: 20px !important;
  color: white !important;
  background-color: #61f7d2 !important;
  padding: 10px !important;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

@media only screen and (max-width: 520px) {
  .MuiButton-root {
    font-size: 18px !important;
  }
}
