.page-header, .page-header-landing {
  max-width: 1280px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 620px) {
  .page-header, .page-header-landing {
    margin: 0 20px;
    padding: 15px 0;
  }
}

.page-header button, .page-header-landing button {
  margin-right: 20px;
}

.page-header .menu-wrapper, .page-header-landing .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .menu-wrapper .MuiSelect-select, .page-header-landing .menu-wrapper .MuiSelect-select {
  color: #61f7d2;
}

.page-header .dropdown-menu button:first-of-type, .page-header-landing .dropdown-menu button:first-of-type {
  color: #61f7d2;
}

.page-header .logo, .page-header-landing .logo {
  height: 100px;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .page-header .logo, .page-header-landing .logo {
    height: 75px;
  }
}

.page-header-landing {
  border-bottom: none;
}

.page-header-landing .menu-wrapper .MuiSelect-select {
  color: white;
}

.page-header-landing .dropdown-menu button:first-of-type {
  color: white;
}

.dropdown-container .MuiPaper-root {
  background-color: rgba(255, 208, 156, 0.7);
  padding: 0 25%;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dropdown-container .MuiPaper-root button {
  background-color: transparent;
  border: 1px solid #fff;
}

.dropdown-container .MuiPaper-root .MuiInputBase-root {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#menu-language .MuiPaper-root {
  background-color: #61f7d2;
  color: white;
  width: 125px;
}

@media only screen and (max-width: 620px) {
  #menu-language .MuiPaper-root {
    background-color: #ffd09c;
    position: absolute;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
}

.MuiSelect-icon {
  color: white !important;
}
