#root {
  font-size: 62.5%;
  background-color: rgba(255, 208, 156, 0.2);
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 32px;
  color: #ffd09c;
  margin: 50px 0;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1.2rem;
    margin: 50px;
  }
}

h3 {
  font-size: 24px;
  color: #ffd09c;
  padding-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 18px;
    margin-top: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 520px) {
  h3 {
    font-size: 18px;
    padding-right: 10px;
  }
}

.custom-button {
  height: 50px;
  cursor: pointer;
  background-color: rgba(97, 247, 210, 0.9);
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 14px 24px;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.custom-button:hover {
  background-color: #61f7d2;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.custom-button a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.MuiSelect-icon {
  color: white !important;
}

.MuiInput-root {
  color: white !important;
}

.MuiToolbar-root {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.MuiButton-root {
  border-radius: 20px !important;
  font-size: 20px !important;
  color: white !important;
  background-color: #61f7d2 !important;
  padding: 10px !important;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

@media only screen and (max-width: 520px) {
  .MuiButton-root {
    font-size: 18px !important;
  }
}

.dropdown-container .MuiPaper-root {
  background-color: rgba(255, 208, 156, 0.7);
  padding: 0 25%;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dropdown-container .MuiPaper-root button {
  background-color: transparent;
  border: 1px solid #fff;
}

.dropdown-container .MuiPaper-root .MuiInputBase-root {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-header, .page-header-landing {
  max-width: 1280px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 620px) {
  .page-header, .page-header-landing {
    margin: 0 20px;
    padding: 50px 0;
  }
}

.page-header button, .page-header-landing button {
  margin-right: 20px;
}

.page-header .menu-wrapper, .page-header-landing .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .menu-wrapper .MuiSelect-select, .page-header-landing .menu-wrapper .MuiSelect-select {
  color: #61f7d2;
}

.page-header .dropdown-menu button:first-of-type, .page-header-landing .dropdown-menu button:first-of-type {
  color: #61f7d2;
}

.page-header .logo, .page-header-landing .logo {
  height: 100px;
}

.page-header-landing {
  border-bottom: none;
}

.page-header-landing .menu-wrapper .MuiSelect-select {
  color: white;
}

.page-header-landing .dropdown-menu button:first-of-type {
  color: white;
}

#menu-language .MuiPaper-root {
  background-color: #61f7d2;
  color: white;
  width: 125px;
}

@media only screen and (max-width: 620px) {
  #menu-language .MuiPaper-root {
    background-color: #ffd09c;
    position: absolute;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
}

.hero-section {
  background-image: url("/src/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
}

@media only screen and (max-width: 620px) {
  .hero-section {
    height: 100vh;
  }
}

.hero-section .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  margin: 150px auto;
  padding: 50px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 900px;
}

@media only screen and (max-width: 620px) {
  .hero-section .welcome-text {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 40px 0 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.hero-section .welcome-text h1 {
  padding-bottom: 35px;
  text-shadow: 0 0 3px #2a2929;
  padding-right: 10px;
  font-size: 45px;
  max-width: 600px;
}

@media only screen and (max-width: 620px) {
  .hero-section .welcome-text h1 {
    font-size: 40px;
  }
}

.hero-section .welcome-text button {
  min-width: 180px;
}

.testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 208, 156, 0.2);
}

.testimonials-container .bg-1 {
  background-image: url("../assets/social-bg-1.jpg");
}

.testimonials-container .bg-2 {
  background-image: url("../assets/social-bg-2.jpg");
}

.testimonials-container .bg-3 {
  background-image: url("../assets/social-bg-3.jpg");
}

.testimonials-container .slider-container {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1280px;
  height: 750px;
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.testimonials-container .testimonial-container {
  margin: 50px;
  height: 80%;
  border-radius: 4px;
  max-width: 400px;
  background-color: whitesmoke;
  border-radius: 4px;
  text-align: center;
}

.testimonials-container .testimonial-container .social-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.testimonials-container .testimonial-container .person-1 {
  background-image: url("../assets/social-img-2.jpg");
}

.testimonials-container .testimonial-container .person-2 {
  background-image: url("../assets/social-img-1.jpg");
}

.testimonials-container .testimonial-container .person-3 {
  background-image: url("../assets/social-img-3.jpg");
}

.testimonials-container .testimonial-container .info-container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials-container .testimonial-container .info-container h4 {
  font-size: 18px;
  color: grey;
  font-style: italic;
}

.testimonials-container .testimonial-container .info-container .name {
  font-size: 12px;
  text-transform: uppercase;
  color: #a06206;
  font-weight: bold;
}

.testimonials-container .testimonial-container .info-container .job-title {
  font-size: 12px;
  color: #a06206;
  text-transform: uppercase;
  font-weight: bold;
}

.testimonials-container .testimonial-container .info-container .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-container .testimonial-container .info-container .logo-section button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.testimonials-container .testimonial-container .info-container .logo-section .company-logo {
  height: 80px;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=landingPage.css.map */