.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 10px 50px 0 50px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

@media only screen and (max-width: 620px) {
  .form-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form-container .custom-button {
  width: 200px;
  margin: 0 auto;
}

.welcomeMessage {
  padding-bottom: 30px;
  border-bottom: 3px solid #ffd09c;
}

@media only screen and (max-width: 620px) {
  .welcomeMessage {
    margin: 20px 20px 50px 20px;
  }
}

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media only screen and (max-width: 620px) {
  .question-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 30px;
  }
}

.question-container img {
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

.question-container p {
  color: white;
  background-color: #61f7d2;
  font-size: 1.4rem;
  padding: 16px;
  border-radius: 10px;
}

@media only screen and (max-width: 620px) {
  .question-container p {
    font-size: 18px;
    padding: 20px;
  }
}

.answer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 620px) {
  .answer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .answer-container .answer-form-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.answer-container h3 {
  font-size: 24px;
  color: #ffd09c;
  padding-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  .answer-container h3 {
    font-size: 18px;
    padding-right: 65px;
  }
}

.answer-container .input, .answer-container .input:disabled, .answer-container .input-filled {
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 0 10px;
  text-align: center;
  height: 55px;
  margin-right: 10px;
  outline: none;
  border: 2px solid #ffd09c;
  color: #ffd09c;
}

@media only screen and (max-width: 620px) {
  .answer-container .input, .answer-container .input:disabled, .answer-container .input-filled {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.answer-container .input::before, .answer-container .input:disabled::before, .answer-container .input-filled::before {
  outline: none;
  border: none;
}

.answer-container .input:focus::-webkit-input-placeholder, .answer-container .input-filled:focus::-webkit-input-placeholder {
  color: transparent;
}

.answer-container .input:focus:-ms-input-placeholder, .answer-container .input-filled:focus:-ms-input-placeholder {
  color: transparent;
}

.answer-container .input:focus::-ms-input-placeholder, .answer-container .input-filled:focus::-ms-input-placeholder {
  color: transparent;
}

.answer-container .input:focus::placeholder, .answer-container .input-filled:focus::placeholder {
  color: transparent;
}

.answer-container .input::-webkit-input-placeholder, .answer-container .input:disabled::-webkit-input-placeholder, .answer-container .input-filled::-webkit-input-placeholder {
  color: #ffd09c;
}

.answer-container .input:-ms-input-placeholder, .answer-container .input:disabled:-ms-input-placeholder, .answer-container .input-filled:-ms-input-placeholder {
  color: #ffd09c;
}

.answer-container .input::-ms-input-placeholder, .answer-container .input:disabled::-ms-input-placeholder, .answer-container .input-filled::-ms-input-placeholder {
  color: #ffd09c;
}

.answer-container .input::placeholder, .answer-container .input:disabled::placeholder, .answer-container .input-filled::placeholder {
  color: #ffd09c;
}

.answer-container .input[type='number'], .answer-container .input-filled[type='number'] {
  width: 100px;
}

.answer-container .input:disabled, .answer-container .input-filled:disabled {
  background-color: #ffd09c;
  color: white;
}

.answer-container .input-filled {
  background-color: #ffd09c;
  color: white;
}

.answer-container .done-btn, .answer-container .done-btn-filled {
  border-radius: 100%;
  margin-bottom: 10px;
  height: 55px;
  width: 55px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #ffd09c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 620px) {
  .answer-container .done-btn, .answer-container .done-btn-filled {
    margin-left: 10px;
  }
}

.answer-container .done-btn:hover, .answer-container .done-btn-filled:hover {
  background-color: #ffd09c;
}

.answer-container .done-btn:hover .icon, .answer-container .done-btn-filled:hover .icon, .answer-container .done-btn:hover .icon-filled, .answer-container .done-btn-filled:hover .icon-filled {
  color: white;
}

.answer-container .done-btn-filled {
  background-color: #ffd09c;
}

.answer-container .done-btn .icon, .answer-container .done-btn-filled .icon, .answer-container .done-btn .icon-filled, .answer-container .done-btn-filled .icon-filled {
  color: #ffd09c;
}

.answer-container .done-btn .icon-filled, .answer-container .done-btn-filled .icon-filled {
  color: white;
}

.answer-container .radio-group {
  border-radius: 10px;
  display: inline-block;
}

.answer-container .radio-group input[type='radio'] {
  visibility: hidden;
  display: none;
}

.answer-container .radio-group label {
  display: inline-block;
  font-size: 1.4rem;
  color: #ffd09c;
  margin-right: 10px;
  padding: 13px;
  border: 2px solid #ffd09c;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .answer-container .radio-group label {
    margin-right: 0;
    margin-left: 10px;
    font-size: 18px;
  }
}

.answer-container .radio-group input[type='radio']:checked + label {
  color: white;
  background: #ffd09c;
}

.answer-container .radio-group label + input[type='radio'] + label {
  border-left: 2px solid #ffd09c;
}

.location-question-container .answer-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location-question-container .answer-form-container .rrs__multiselect-label__badge {
  font-size: 14px;
  color: #ffd09c;
  border-color: #ffd09c;
}

.location-question-container .answer-form-container .location-filled .rrs__button {
  background-color: #ffd09c;
  color: white;
}

.location-question-container .answer-form-container .location-filled .rrs__button .rrs__multiselect-label__badge {
  color: #fff;
  border: 2px solid;
}

.location-question-container .answer-form-container .location-filled svg {
  fill: #fff;
}

.location-question-container .answer-form-container .rrs {
  font-size: 1.4rem;
  width: 300px;
  margin-right: 13px;
  color: #ffd09c;
}

.location-question-container .answer-form-container .rrs__button {
  background-color: #fff;
  color: #ffd09c;
  border-radius: 10px;
  outline: none;
  border: 2px solid #ffd09c;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 55px;
}

.location-question-container .answer-form-container .rrs__button svg {
  fill: #ffd09c;
}

.location-question-container .answer-form-container .rrs--has-changed .rrs__label {
  color: #ffd09c;
}

.location-question-container .answer-form-container .rrs__option:hover {
  color: orange;
}

.location-question-container .answer-form-container .rrs__option.rrs__option--next-selection {
  color: #ffd09c;
}

.location-question-container .answer-form-container .rrs__option.rrs__option--selected {
  color: #61f7d2;
}

.location-question-container .answer-form-container .rrs__option.rrs__option--selected .checkbox {
  border-color: #61f7d2;
}

.location-question-container .answer-form-container .rrs__option.rrs__option--selected svg {
  fill: #61f7d2;
}
/*# sourceMappingURL=questionnaire.css.map */