#root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 32px;
  color: #ffd09c;
  margin: 50px 0;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1.2rem;
    margin: 50px;
  }
}

h3 {
  font-size: 24px;
  color: #ffd09c;
  padding-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  h3 {
    font-size: 18px;
    margin-top: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 520px) {
  h3 {
    font-size: 18px;
    padding-right: 10px;
  }
}

.custom-button {
  height: 50px;
  cursor: pointer;
  background-color: rgba(97, 247, 210, 0.9);
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 14px 24px;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.custom-button:hover {
  background-color: #61f7d2;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.custom-button a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.MuiSelect-icon {
  color: white !important;
}

.MuiAppBar-root {
  background-color: #61f7d2 !important;
}

.MuiInput-root {
  color: white !important;
}

.MuiToolbar-root {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.MuiButton-root {
  border-radius: 20px !important;
  font-size: 20px !important;
  color: white !important;
  background-color: #61f7d2 !important;
  padding: 10px !important;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

@media only screen and (max-width: 520px) {
  .MuiButton-root {
    font-size: 18px !important;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 10px 50px 0 50px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
}

@media only screen and (max-width: 620px) {
  .form-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media only screen and (max-width: 620px) {
  .question-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.question-container img {
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

.question-container p {
  color: white;
  background-color: #61f7d2;
  font-size: 1.4rem;
  padding: 16px;
  border-radius: 20px;
}

@media only screen and (max-width: 620px) {
  .question-container p {
    font-size: 18px;
    padding: 20px;
  }
}

.type-field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 620px) {
  .type-field-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .type-field-container h3 {
    margin-right: 35%;
  }
}

.type-field-container h3 {
  font-size: 24px;
  color: #ffd09c;
  padding-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  .type-field-container h3 {
    font-size: 18px;
    margin-top: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 520px) {
  .type-field-container h3 {
    font-size: 18px;
    padding-right: 10px;
  }
}

.type-field-container .input, .type-field-container .input:disabled, .type-field-container .input-filled {
  font-size: 1.4rem;
  border-radius: 20px;
  text-align: center;
  height: 55px;
  margin-right: 10px;
  outline: none;
  border: 2px solid #ffd09c;
  color: #ffd09c;
}

@media only screen and (max-width: 620px) {
  .type-field-container .input, .type-field-container .input:disabled, .type-field-container .input-filled {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.type-field-container .input::before, .type-field-container .input:disabled::before, .type-field-container .input-filled::before {
  outline: none;
  border: none;
}

.type-field-container .input:focus::-webkit-input-placeholder, .type-field-container .input-filled:focus::-webkit-input-placeholder {
  color: transparent;
}

.type-field-container .input:focus:-ms-input-placeholder, .type-field-container .input-filled:focus:-ms-input-placeholder {
  color: transparent;
}

.type-field-container .input:focus::-ms-input-placeholder, .type-field-container .input-filled:focus::-ms-input-placeholder {
  color: transparent;
}

.type-field-container .input:focus::placeholder, .type-field-container .input-filled:focus::placeholder {
  color: transparent;
}

.type-field-container .input::-webkit-input-placeholder, .type-field-container .input:disabled::-webkit-input-placeholder, .type-field-container .input-filled::-webkit-input-placeholder {
  color: #ffd09c;
}

.type-field-container .input:-ms-input-placeholder, .type-field-container .input:disabled:-ms-input-placeholder, .type-field-container .input-filled:-ms-input-placeholder {
  color: #ffd09c;
}

.type-field-container .input::-ms-input-placeholder, .type-field-container .input:disabled::-ms-input-placeholder, .type-field-container .input-filled::-ms-input-placeholder {
  color: #ffd09c;
}

.type-field-container .input::placeholder, .type-field-container .input:disabled::placeholder, .type-field-container .input-filled::placeholder {
  color: #ffd09c;
}

.type-field-container .input[type='number'], .type-field-container .input-filled[type='number'] {
  width: 100px;
}

.type-field-container .input:disabled, .type-field-container .input-filled:disabled {
  background-color: #ffd09c;
  color: white;
}

.type-field-container .input-filled {
  background-color: #ffd09c;
  color: white;
}

.type-field-container .done-btn, .type-field-container .done-btn-filled {
  border-radius: 100%;
  margin-bottom: 10px;
  height: 55px;
  width: 55px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #ffd09c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 620px) {
  .type-field-container .done-btn, .type-field-container .done-btn-filled {
    margin-left: 10px;
  }
}

.type-field-container .done-btn:hover, .type-field-container .done-btn-filled:hover {
  background-color: #ffd09c;
}

.type-field-container .done-btn:hover .icon, .type-field-container .done-btn-filled:hover .icon, .type-field-container .done-btn:hover .icon-filled, .type-field-container .done-btn-filled:hover .icon-filled {
  color: white;
}

.type-field-container .done-btn-filled {
  background-color: #ffd09c;
}

.type-field-container .done-btn .icon, .type-field-container .done-btn-filled .icon, .type-field-container .done-btn .icon-filled, .type-field-container .done-btn-filled .icon-filled {
  color: #ffd09c;
}

.type-field-container .done-btn .icon-filled, .type-field-container .done-btn-filled .icon-filled {
  color: white;
}

.type-field-container .radio-group {
  border-radius: 20px;
  display: inline-block;
}

.type-field-container .radio-group input[type='radio'] {
  visibility: hidden;
  display: none;
}

.type-field-container .radio-group label {
  margin-right: 10px;
  border: 2px solid #ffd09c;
  border-radius: 20px;
  font-size: 22px;
  color: #ffd09c;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.type-field-container .radio-group input[type='radio']:checked + label {
  color: white;
  background: #ffd09c;
}

.type-field-container .radio-group label + input[type='radio'] + label {
  border-left: 2px solid #ffd09c;
}

.welcomeMessage {
  padding-bottom: 30px;
  border-bottom: 3px solid #ffd09c;
}

.hero-section {
  background-image: url("/src/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
}

@media only screen and (max-width: 620px) {
  .hero-section {
    height: 100vh;
  }
}

.hero-section .header-container {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15%;
}

@media only screen and (max-width: 620px) {
  .hero-section .header-container {
    margin: 0 20px;
  }
}

.hero-section .header-container button {
  margin-right: 20px;
}

.hero-section .header-container .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .header-container .dropdown-menu button:first-of-type {
  color: #fff;
}

.hero-section .header-container .logo {
  height: 100px;
}

.hero-section .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
  margin: 150px 20vw;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 620px) {
  .hero-section .welcome-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 40px 0 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.hero-section .welcome-text h1 {
  padding-bottom: 35px;
  text-shadow: 0 0 3px #2a2929;
  padding-right: 10px;
  font-size: 45px;
  max-width: 600px;
}

@media only screen and (max-width: 620px) {
  .hero-section .welcome-text h1 {
    font-size: 40px;
  }
}

.hero-section .welcome-text button {
  min-width: 180px;
}

.dropdown-container .MuiPaper-root {
  background-color: rgba(255, 208, 156, 0.7);
  padding: 0 25%;
  height: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dropdown-container .MuiPaper-root button {
  background-color: transparent;
  border: 1px solid #fff;
}

.dropdown-container .MuiPaper-root .MuiInputBase-root {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

@media only screen and (max-width: 620px) {
  #menu-language .MuiPaper-root {
    background-color: #ffd09c;
    color: white;
    width: 125px;
    position: absolute;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
            transform: translateX(-50%) !important;
  }
}

.testimonials-container {
  height: 50vh;
  background-color: rgba(255, 208, 156, 0.2);
}
/*# sourceMappingURL=styles.css.map */