@import 'globals';

.form-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 10px 50px 0 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  @media only screen and (max-width: $mobile) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.question-container {
  display: flex;
  margin-bottom: 50px;
  @media only screen and (max-width: $mobile) {
    justify-content: center;
    margin-bottom: 30px;
  }

  img {
    height: 60px;
    align-self: center;
    margin-right: 10px;
  }

  p {
    color: white;
    background-color: $mainColor;
    font-size: 1.4rem;
    padding: 16px;
    border-radius: 20px;
    @media only screen and (max-width: $mobile) {
      font-size: 18px;
      padding: 20px;
    }
  }
}

.type-field-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    h3 {
      margin-right: 35%;
    }
  }

  h3 {
    font-size: 24px;
    color: $secondaryColor;
    padding-right: 10px;
    margin-bottom: 10px;
    @media only screen and (max-width: 700px) {
      font-size: 18px;
      margin-top: 5px;
      padding-right: 10px;
      margin-bottom: 10px;
    }
    @media only screen and (max-width: 520px) {
      font-size: 18px;
      padding-right: 10px;
    }
  }

  .input {
    font-size: 1.4rem;
    border-radius: 20px;
    text-align: center;
    height: 55px;
    margin-right: 10px;
    outline: none;
    border: 2px solid $secondaryColor;
    color: $secondaryColor;
    @media only screen and (max-width: $mobile) {
      margin-bottom: 10px;
      margin-right: 0px;
    }

    &::before {
      outline: none;
      border: none;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }

    &::placeholder {
      color: $secondaryColor;
    }

    &[type='number'] {
      width: 100px;
    }

    &:disabled {
      @extend .input;
      background-color: $secondaryColor;
      color: white;
    }

    &-filled {
      @extend .input;
      background-color: $secondaryColor;
      color: white;
    }
  }

  .done-btn {
    border-radius: 100%;
    margin-bottom: 10px;
    height: 55px;
    width: 55px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid $secondaryColor;
    transition: 0.3s;
    @media only screen and (max-width: $mobile) {
      margin-left: 10px;
    }
    &:hover {
      background-color: $secondaryColor;
      .icon {
        color: white;
      }
    }
    &-filled {
      @extend .done-btn;
      background-color: $secondaryColor;
    }

    .icon {
      color: $secondaryColor;
      &-filled {
        @extend .icon;
        color: white;
      }
    }
  }

  .radio-group {
    border-radius: 20px;
    display: inline-block;

    input[type='radio'] {
      
      visibility: hidden;
      display: none;
    }

    label {
      margin-right: 10px;
      border: 2px solid $secondaryColor;
      border-radius: 20px;
      font-size: 22px;
      color: $secondaryColor;
      display: inline-block;
      cursor: pointer;
      padding: 10px;
    }

    input[type='radio']:checked + label {
      color: lighten(white, 60%);
      background: $secondaryColor;
    }

    label + input[type='radio'] + label {
      
      border-left: 2px solid $secondaryColor;
    }
  }
}

.welcomeMessage {
  padding-bottom: 30px;
  border-bottom: 3px solid $secondaryColor;
}

// Landing Page

.hero-section {
  background-image: $hero-img;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;
  @media only screen and (max-width: $mobile) {
    height: 100vh;
  }

  .header-container {
    padding: 50px 0;
    display: flex;
    height: 75px;
    justify-content: space-between;
    margin: 0 15%;
    @media only screen and (max-width: $mobile) {
      margin: 0 20px;
    }

    button {
      margin-right: 20px;
    }

    .menu-wrapper {
      display: flex;
      align-items: center;
    }

    .dropdown-menu {
      button:first-of-type {
        color: #fff;
      }
    }

    .logo {
      height: 100px;
    }
  }

  .welcome-text {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 150px 20vw;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      margin: 100px 40px 0 40px;
      align-items: flex-start;
    }

    h1 {
      padding-bottom: 35px;
      text-shadow: 0 0 3px rgb(42, 41, 41);
      padding-right: 10px;
      font-size: 45px;
      max-width: 600px;
      @media only screen and (max-width: $mobile) {
        font-size: 40px;
      }
    }

    button {
      min-width: 180px;
    }
  }
}

.dropdown-container {
  .MuiPaper-root {
    background-color: $secondaryColorMedOpacity;
    padding: 0 25%;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;

    button {
      background-color: transparent;
      border: 1px solid #fff;
    }

    .MuiInputBase-root {
      border: 1px solid #fff;
      padding: 10px 20px;
      border-radius: 4px;
    }
  }
}

#menu-language {
  .MuiPaper-root {
    @media only screen and (max-width: $mobile) {
      background-color: $secondaryColor;
      color: white;
      width: 125px;
      position: absolute;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }
}

.testimonials-container {
  height: 50vh;
  background-color: $secondaryColorLowOpacity;
}
