@import 'globals';

.form-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 10px 50px 0 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
  @media only screen and (max-width: $mobile) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.question-container {
  display: flex;
  margin-bottom: 50px;
  @media only screen and (max-width: $mobile) {
    justify-content: center;
    margin-bottom: 30px;
  }

  img {
    height: 60px;
    align-self: center;
    margin-right: 10px;
  }

  p {
    color: white;
    background-color: $mainColor;
    font-size: 1.4rem;
    padding: 16px;
    border-radius: 20px;
    @media only screen and (max-width: $mobile) {
      font-size: 18px;
      padding: 20px;
    }
  }
}

.type-field-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 50px;
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    h3 {
      margin-right: 35%;
    }
  }

  input {
    font-size: 1rem;
    border-radius: 20px;
    padding: 0 10px;
    text-align: center;
    height: 50px;
    min-width: 200px;
    margin-right: 10px;
    outline: none;
    border: 2px solid $secondaryColor;
    color: $secondaryColor;
    @media only screen and (max-width: $mobile) {
      margin-bottom: 10px;
      margin-right: 0px;
    }
    &::before {
      outline: none;
      border: none;
    }

    &::placeholder {
      color: $secondaryColor;
    }
  }

  .done-btn {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid $secondaryColor;
    transition: 0.3s;
    @media only screen and (max-width: $mobile) {
      margin-left: 10px;
    }
    &:hover {
      background-color: $secondaryColor;
    }
    &:focus {
      background-color: $secondaryColor;
    }
  }
}

.welcomeMessage {
  padding-bottom: 30px;
  border-bottom: 3px solid $secondaryColor;
}

// Landing Page

.hero-section {
  background-image: $hero-img;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 80vh;

  .header-container {
    padding: 50px 0;
    display: flex;
    height: 75px;
    justify-content: space-between;
    margin: 0 15%;
    @media only screen and (max-width: $mobile) {
      margin: 0 20px;
    }

    button {
      margin-right: 20px;
    }

    div:first-of-type {
      display: flex;
      align-items: center;
    }

    .logo {
      height: 100px;
    }
  }

  .welcome-text {
    display: flex;
    flex-direction: row;
    color: #fff;
    margin: 150px 20vw;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      margin: 100px 40px 0 40px;
      align-items: flex-start;
    }

    h1 {
      padding-bottom: 35px;
      padding-right: 10px;
      font-size: 45px;
      max-width: 600px;
      @media only screen and (max-width: $mobile) {
        font-size: 40px;
      }
    }

    button {
      min-width: 180px;
    }
  }
}

.testimonials-container {
  height: 50vh;
  background-color: rgba(255, 208, 156, 0.2);
}
