@import './variables';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100%;
  align-items: center;
  min-height: 100vh;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  overflow: hidden;
} 
.swiper-container {
  width: 100%;
  padding-top:50px;
  padding-bottom: 50px; 
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  align-items: center;
  width: 300px;
  min-height: 300px;
}
.profile-image{
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: $mobile) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    position: relative;
    height: 100%;
    align-items: center;
    min-height: 100vh;
  }
  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    overflow: hidden;
  } 
  .swiper-container {
    width: 100%;
    padding-top:50px;
    padding-bottom: 50px; 
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    align-items: center;
    width: 300px;
    min-height: 300px;
  }
  .profile-image{
    height: 100%;
    width: 100%;
  }
}