.illu-container {
  padding: 75px 25px 0 25px;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.illu-container .illustration {
  width: 150px;
}

.illu-container .testimonial-subtitle {
  max-width: 1280px;
  font-size: 16px;
  text-align: start;
  margin-bottom: 25px;
}

@media only screen and (max-width: 620px) {
  .illu-container .testimonial-subtitle {
    font-size: 12px;
  }
}

.illu-container .testimonial-title {
  font-size: 40px;
  color: #333;
  max-width: 1280px;
  margin-bottom: 75px;
}

@media only screen and (max-width: 620px) {
  .illu-container .testimonial-title {
    font-size: 25px;
  }
}

.testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 750px;
  margin-bottom: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 620px) {
  .testimonials-container {
    padding-top: 25px;
  }
}

.testimonials-container .bg-1 {
  background-image: url("../assets/social-bg-1.jpg");
}

.testimonials-container .bg-2 {
  background-image: url("../assets/social-bg-2.jpg");
}

.testimonials-container .bg-3 {
  background-image: url("../assets/social-bg-3.jpg");
}

.testimonials-container .slider-container {
  position: absolute;
  max-width: 1024px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 750px;
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-container .testimonial-container {
  margin: 50px;
  height: 80%;
  border-radius: 4px;
  width: 400px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  .testimonials-container .testimonial-container {
    margin: 50px 15px;
  }
}

.testimonials-container .testimonial-container .social-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
}

.testimonials-container .testimonial-container .person-1 {
  background-image: url("../assets/social-img-2.jpg");
}

.testimonials-container .testimonial-container .person-2 {
  background-image: url("../assets/social-img-1.jpg");
}

.testimonials-container .testimonial-container .person-3 {
  background-image: url("../assets/social-img-3.jpg");
}

.testimonials-container .testimonial-container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials-container .testimonial-container .info-container .testimonial-text {
  height: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: whitesmoke;
}

.testimonials-container .testimonial-container .info-container .MuiIconButton-root {
  background-color: #ffd09c;
  color: white;
}

.testimonials-container .testimonial-container .info-container h4 {
  margin: 10px;
  font-size: 18px;
  color: #666;
  font-style: italic;
}

.testimonials-container .testimonial-container .info-container .testimonial-person {
  margin-top: 10px;
}

.testimonials-container .testimonial-container .info-container .name {
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
}

.testimonials-container .testimonial-container .info-container .job-title {
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.testimonials-container .testimonial-container .info-container .logo-section {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-container .testimonial-container .info-container .logo-section button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.testimonials-container .testimonial-container .info-container .logo-section .company-logo {
  max-width: 50%;
  max-height: 80px;
}
