$mainColor: rgb(97, 247, 210);
$secondaryColor: rgb(255, 208, 156);
$secondaryColorMedOpacity: rgba(255, 208, 156, 0.7);
$secondaryColorLowOpacity: rgba(255, 208, 156, 0.2);

$borderRadius: 10px;

$tablet: 1024px;
$mobile: 620px;
$hero-img: url('/src/assets/hero.jpg');

$bg-image1: url('../assets/social-bg-1.jpg');
$bg-image2: url('../assets/social-bg-2.jpg');
$bg-image3: url('../assets/social-bg-3.jpg');
$person1: url('../assets/social-img-1.jpg');
$person2: url('../assets/social-img-2.jpg');
$person3: url('../assets/social-img-3.jpg');


